<div class="main">
    <div class="container-1">
        <h2>
            We create website and applications
        </h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur expedita facere et rem sit repellendus
            libero, corporis dicta autem nisi id eveniet numquam. Maiores nemo ea dolore, consectetur iure veniam!
        </p>
        <div class="botons">
            <a href="#" class="expert">Meet The Expert
                <i class="fa-solid fa-arrow-up" style="color: #ffffff; margin-left: 7px; transform: rotate(50deg);"></i>
            </a>
            <a href="#" class="watch-video">
                <i class="fa-solid fa-play"
                style="color: white; background-color: black; padding: 8px; border-radius: 50%; font-size: 12px;"></i>
                Watch Video
            </a>
        </div>
    </div>
    <div class="container-2">
        <img src="assets/img/imagen-about.jpg" alt="imagen-about">
    </div>
</div>
<div class="linea"></div>