<header class="header">
    <nav class="navbar">
        <a href="#" class="logo">
            <img src="https://i.pinimg.com/736x/93/d3/e3/93d3e31639a4d07613de9dccdc8bd5e8--developer-icon.jpg" alt="logo">
            Wilson-Dev
        </a>
        <ul class="links">
            <li class="link"><strong>About</strong></li>
            <li class="link">Blog</li>
            <li class="link">Portfolio</li>
            <li class="link">Contact</li>
        </ul>
        <a href="#" class="contacto">Contactanos</a>
    </nav>
</header>
<div class="linea"></div>